.App {
  text-align: center;
  background: radial-gradient(50% 50% at 50% 50%, #570101 0%, #000000 100%);
  background-blend-mode: darken;
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.35);
  background-repeat: no-repeat;
  height: 100vh;
}

.leaderboard {
  background: linear-gradient(180deg, rgba(192, 192, 192, 0.3) 0%, rgba(196, 196, 196, 0.3) 100%);
  border-radius: 30px;
}

.navbar{
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.lightning-image{
  height: 100px;
}


