html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  text-align: center;
  background: radial-gradient(50% 50% at 50% 50%, #570101 0%, #000000 100%)  no-repeat 
  center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  color: white;
  height: auto !important;
}

.lightning-image{
  height: 100px;
}

